#define DEFAULT 0
#define NUM     1
#define SYM     2
#define FUN     3
#define MOUSE   4
#define SCROLL  5
#define SNIPE   6

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <300>;
    flavor = "balanced";
    quick-tap-ms = <200>;
};

&mt {
    tapping-term-ms = <300>;
    flavor = "tap-preferred";
    quick-tap-ms = <175>;
};

&caps_word { continue-list = <UNDERSCORE MINUS>; };

/ {
    // custom shift using mod-morph 

    behaviors {
        cmqus: comma_question {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_QUESTION";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QUESTION>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dtsmi: dot_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_SEMI";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp SEMI>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        lmt: lmt {
            compatible = "zmk,behavior-hold-tap";
            label = "Long Mod Tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <750>;
            quick-tap-ms = <300>;
            flavor = "tap-preferred";
        };

        bmt: bmt {
            compatible = "zmk,behavior-hold-tap";
            label = "bootloader-mod";
            bindings = <&bootloader>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <750>;
        };
    };

    combos {
        compatible = "zmk,combos";

        close-window {
            bindings = <&kp LA(F4)>;
            key-positions = <7 9>;
        };

        Mouseless {
            bindings = <&kt LC(LS(LA(F12)))>;
            key-positions = <16 19>;
        };

        panic-return {
            bindings = <&to 0>;
            key-positions = <12 23>;
        };

        Escape {
            bindings = <&kp ESCAPE>;
            key-positions = <7 8>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "QWRT";
            bindings = <
&bmt 0 GRAVE         &kp Q            &kp W               &kp E           &kp R                           &kp T               &kp Y  &kp U                &kp I            &kp O                &kp P          &bmt 0 PRINTSCREEN
&kp ESCAPE           &mt CAPSLOCK A   &mt LEFT_CONTROL S  &mt LEFT_ALT D  &mt LEFT_COMMAND F              &kp G               &kp H  &mt RIGHT_COMMAND J  &mt RIGHT_ALT K  &mt RIGHT_CONTROL L  &kp BACKSPACE  &kp DEL
&kp LS(TAB)          &lmt LC(Z) Z     &lmt LC(X) X        &lmt LC(C) C    &lmt LC(V) V                    &kp B               &kp N  &kp M                &kp COMMA        &kp DOT              &kp SLASH      &kp BACKSLASH
&mt C_MUTE C_VOL_DN  &kp C_VOLUME_UP  &sk LEFT_SHIFT      &lt 3 SPACE     &mt LS(LA(LEFT_CONTROL)) ENTER             &kp TAB  &mo 1                                                                            &kp GLOBE
            >;
        };

        number_layer {
            label = "NUM";
            bindings = <
&trans        &lmt F1 NUMBER_1    &lmt F2 NUMBER_2        &lmt F3 NUMBER_3    &lmt F4 NUMBER_4      &lmt F5 NUMBER_5              &lmt F6 NUMBER_6  &lmt F7 NUMBER_7     &lmt F8 NUMBER_8            &lmt F9 NUMBER_9                 &lmt F10 NUMBER_0       &kp F11
&trans        &mt CAPSLOCK SLASH  &mt LEFT_CONTROL EQUAL  &mt LEFT_ALT GRAVE  &mt LEFT_COMMAND SQT  &kp HOME                      &kt END           &mt RIGHT_GUI MINUS  &mt RIGHT_ALT LEFT_BRACKET  &mt RIGHT_CONTROL RIGHT_BRACKET  &mt CAPSLOCK SEMICOLON  &kp F12
&bt BT_CLR    &trans              &trans                  &trans              &trans                &trans                        &trans            &trans               &trans                      &trans                           &trans                  &to 2
&bt BT_SEL 0  &bt BT_SEL 1        &trans                  &trans              &trans                                      &trans  &trans                                                                                                                      &to 0
            >;
        };

        test {
            bindings = <
&kp GRAVE  &kp Q     &kp W   &kp E   &kp R   &kp T              &kp Y   &kp U  &kp I      &kp O    &kp P     &kp EQUAL
&kp TAB    &kp A     &kp S   &kp D   &kp F   &kp G              &kp H   &kp J  &kp K      &kp L    &kp SEMI  &kp APOS
&kp LSHFT  &kp Z     &kp X   &kp C   &kp V   &kp B              &kp N   &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
&kp LCTRL  &kp LALT  &kp N1  &kp N2  &kp N3             &kp N4  &kp N5                                       &kp BSLH
            >;

            label = "Test";
        };

        move_layer {
            label = "MOVE";
            bindings = <
&trans  &trans        &trans            &trans        &trans        &trans                &trans           &kp PAGE_UP     &trans        &trans           &trans   &trans
&trans  &kp CAPSLOCK  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI  &kp HOME              &kp LEFT_ARROW   &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp END  &trans
&trans  &trans        &trans            &trans        &trans        &trans                &trans           &kp PAGE_DOWN   &trans        &trans           &trans   &trans
&trans  &trans        &trans            &trans        &trans                      &trans  &kp RIGHT_SHIFT                                                          &trans
            >;
        };

        mouse_layer {
            label = "MOUSE";
            bindings = <
&trans  &trans  &trans            &trans        &trans            &trans                    &trans  &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_COMMAND  &kp CAPSLOCK              &trans  &mkp LCLK  &mo 5      &mkp RCLK  &trans  &trans
&trans  &trans  &trans            &trans        &trans            &trans                    &trans  &trans     &trans     &trans     &trans  &tog 4
&trans  &trans  &trans            &kp SPACE     &mo 6                               &trans  &trans                                           &to 0
            >;
        };

        scroll_layer {
            label = "SCROLL";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans                                  &trans
            >;
        };

        snipe_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans                                  &trans
            >;

            label = "SNIPE";
        };
    };
};
